body {
  background-color: 	#7FFFD4;
}

h1 {
  font-family: monospace;
  color: 	white;
  font-size: 50px;
}

h2 {
  font-family: monospace;
  color: 	white;
  font-size: 60px;
}

.column.side {
    width: 25%;
}
