body {
  background-color: 	#7FFFD4;
}

h1 {
  font-family: monospace;
  color: 	white;
  font-size: 50px;
}

h2 {
  font-family: monospace;
  color: white;
  font-size: 50px;
}

#esquerda{
    float: left;
    padding-top: 24%;
}

#centro{
    padding-left: 190px;
    padding-top: 20%;
}

#direita{
    float: right;
    padding-top: 23%;
}

.column.side {
    width: 25%;
}

.borda {
    border-width: 2px;
    border-style: solid;
}

.rodape {
margin: auto;
width: 100%;
bottom: 0;
position: fixed;
background-color: black;
}
