body {
  background-image: url("img/papeldeparede.jpg");
  background-size: cover;
}

h1 {
  font-family: monospace;
  color: white;
  font-size: 50px;
}

h2 {
  font-family: monospace;
  color: white;
  font-size: 20px;
}

.imgGatos {
    margin: auto;
    height: 120px;
    width: 150px;
}

.borda {
    border-width: 2px;
    border-style: solid;
}

.cronome {
    padding-top: 90px;
}


#imgPersonagem {
    margin: auto;
    height: 170px;
    width: 185px;
    padding-top: 50px;
}

#imgBola {
    margin: auto;
    height: 190px;
    width: 205px;
    padding-top: 50px;
}

#telaPrimaria {
    position: relative;
    float: left;
    display: inline;
    margin-left: 10%;
    margin-top: 6px;
    width: 55%;
    height: 98%;
}

#telaSecundaria {
    position: relative;
    float: right;
    display: inline;
    margin-top: 6px;
    width: 25%;
    height: 98%;
}

#telaPersonagens {
    width: auto;
    height: 85%;
    display: inline;
}
